NEXT_PUBLIC_SUPABASE_URL=https://wjsheyfcdwwnagyrhfvv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indqc2hleWZjZHd3bmFneXJoZnZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNTI2NzgsImV4cCI6MjA5NTkyODY3OH0.9WhktUx6oui3X9l9kOYG4kBgCh8XaX0fYTAaan5rXUo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indqc2hleWZjZHd3bmFneXJoZnZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzNTI2NzgsImV4cCI6MjA5NTkyODY3OH0.9WhktUx6oui3X9l9kOYG4kBgCh8XaX0fYTAaan5rXUo
NEXT_PUBLIC_APP_URL=http://localhost:3000
